   <!-- mlaku-mlaku/main/templates/main/create_journal.html -->
   <!DOCTYPE html>
   {% load static %}
   <html lang="en">
   <head>
       <link rel="stylesheet" href="{% static 'css/landing_page_journal.css' %}">
       <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Create Journal</title>
   </head>
   <body>
       <h1>Create a New Journal</h1>
       <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <div>
               <label for="{{ form.title.id_for_label }}">Title:</label>
               {{ form.title }}
           </div>
           <div>
               <label for="{{ form.content.id_for_label }}">Content:</label>
               {{ form.content }}
           </div>
           <div>
               <label for="{{ form.image.id_for_label }}">Image:</label>
               {{ form.image }}
           </div>
           <button type="submit">Publish</button>
       </form>
       <a href="{% url 'main:journal_history' %}">Back to My Journals</a>
   </body>
   </html>
