<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/landing_page_journal.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Log in</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Menampilkan form login -->
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>  <!-- Menampilkan error -->
        {% endif %}
        <button type="submit">Log in</button>
    </form>
    <a href="{% url 'main:register' %}">Don't have an account? Sign up</a>
</body>
</html>
